<configuration>
    <springProfile name="!production">
        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - correlation.id=%X{correlation-id:-none} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="production">
        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - correlation.id=%X{correlation-id:-none} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="console-appender"/>
    </root>
</configuration>